.custom-label{
    -fx-padding: 0 0 0 5;

    -fx-border-width: 2;
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-font-size: 15;
}

Button{
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-min-width: 100;
    -fx-min-height: 40;
}
